<section id="About">
    <section class="dark">
        <div class="container py-4">
            <h1 class="h1 text-center" style=" font-size: 40PX;
            font-weight: 600; color: #ffffff" id="pageHeaderTitle">ABOUT US</h1>
    
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img " src="assets/images/discover4.svg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="#">DISCOVER, IMPLEMENT, EXECUTE</a></h1>
                    <div class="postcard__subtitle small">
                        
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Xorion started with only one motive i.e to improve people's life, Businesses, Corporate Infrastructures,
                      Working Culture, etc. with the implementation of AI & ML, RPA, AI Chatbot, BI, Intelligent Apps,
                      Data Analysis & Analytics, etc. Our goal to implement all these tech into people's life to :
                      
                      </div>
                 
                </div>
            </article>
            <article class="postcard dark red">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="assets/images/goal1.svg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title red"><a href="#">MISSION</a></h1>
                    <div class="postcard__subtitle small">
                        
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Our Mission is to implement and execute Artificial Intelligence and Machine Learning in daily life to maximize work and surpass human limitations in order to take your business or organization to humongous heights.
                      We achieve that mission by continuous improvement of our services and products in order to understand and resolve complex problems.</div>
                    <ul class="postcard__tagbox">
                      
                 <!--       <li class="tag__item play red">
                            <a href="#"><i class="fas fa-play mr-2"></i>Read More</a>
                        </li>
                        -->
                    </ul>
                </div>
            </article>
            <article class="postcard dark green">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="assets/images/eye-care1.svg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title green"><a href="#">Vision</a></h1>
                    <div class="postcard__subtitle small">
                        
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Imagine a world where Computer Science, Artificial Intelligence, Machine Learning and Technology are used super smartly, for the betterment of humanity by solving people's daily life problems which will lead to growth of global economy and will impact billions of lives. That's our commitment. We are people's technology!</div>
                    <ul class="postcard__tagbox">
                        
                   <!--  <li class="tag__item play green">
                            <a href="#"><i class="fas fa-play mr-2"></i>Read More</a>
                        </li>-->   
                    </ul>
                </div>
            </article>
            <article class="postcard dark yellow">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="assets/images/about4.svg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title yellow"><a href="#">Values</a></h1>
                    <div class="postcard__subtitle small">
                       
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">We are commited to user's privacy and Security.
                       We are dedicated to innovation.
                       We all are a team and are optimistic.
                       We take the charge to change the world for better.
                       We work in a Team.
                       We are optimistic.
                       We are innovative.
                       We keep consumers first.</div>
                    <ul class="postcard__tagbox">
                        
                      <!--<li class="tag__item play yellow">
                            <a href="#"><i class="fas fa-play mr-2"></i>Read More</a>
                        </li>-->  
                    </ul>
                </div>
            </article>
        </div>
    </section>
    
</section>
