
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
<section id="Experties">
    <h1 class="samiksha">OUR EXPERTISE</h1>
      <div class="slider">
          <div class="slide-track">
              <div class="slide">
                  <img src="assets/images/Chatbot1.jpeg" height="70" width="100" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/py2.png" height="70" width="120" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/java11.png" height="70" width="120" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/node1.png" height="70" width="120" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/robocorp.Default" height="80" width="100" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/Java4.png" height="90" width="140" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/Rasa3.png" height="70" width="120" alt="" />
              </div>
              
              <div class="slide">
                  <img src="assets/images/android-robot-bot.svg" height="70" width="120" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/selenium-seeklogo.com.svg" height="70" width="120" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/express.jpg" height="100" width="180" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/reactjs.png" height="80" width="120" alt="" />
              </div>
              <div class="slide">
                  <img src="assets/images/mongodb.png" height="70" width="120" alt="" />
              </div>
              <div class="slide">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
           
          </div>
      </div>
  </section>
  