<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora%7CRoboto:400,500">    
</head>

<body>
 
    
  
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover"
        style="width: 300px; overflow: hidden; border-radius: 1px;" id="Industries">
        <img src="assets/images/information2.svg"
            alt="Man with backpack" class="d-block w-full">

        <div class="px-2 py-2" >
            <!--<p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Industries
            </p>-->

            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25; text-align: center; text-transform: uppercase;font-weight: 600; font-size:22px;color:#201a27;">
               <b> Information <br> Technology</b>
            </h1><br>

            <p class="mb-1" style="color:#201a27; text-align: justify;">
                Integrate AI Chat for employees and Intelligent Automations in Workflow, Business, etc. Use BI and MDM for exceptional business growth.
            </p>

        </div>

        <!--<a href="#" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>-->



    </div>



    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover"
        style="width: 300px; overflow: hidden; border-radius: 1px;">
        <img src="assets/images/banking1.svg"
            alt="Man with backpack" class="d-block w-full">

        <div class="px-2 py-2">
            <!--<p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Industries
            </p>-->

            <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25; text-align: center; text-transform: uppercase; font-size:22px;font-weight: 600; color:#201a27;">
               <b> Banking and <br> Finance</b>
            </h2><br>

            <p class="mb-1" style="color:#201a27;text-align: justify;">
                Use the power of BI in Finance, MDM, AI Chatbot and Automated Banking Process.
            </p>

        </div>

        <!--<a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>-->



    </div>

    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover"
        style="width: 300px; overflow: hidden; border-radius: 1px;">
        <img src="assets/images/healthcare3.svg"
            alt="Man with backpack" class="d-block w-full">

        <div class="px-2 py-2">
            <!--<p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Industries
            </p>-->

            <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25; text-align: center; text-transform: uppercase;font-weight: 600;font-size:22px;color:#201a27;">
               <b> Healthcare and Pharmaceuticals</b>
            </h2><br>
      

            <p class="mb-1" style="color:#201a27;text-align: justify;">
                Automation in Order Processing, Outcomes Analytics, Human Interactive AI Chatbot and Intelligence in Hospitals.
            </p>

        </div>

        <!--<a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>-->



    </div>


    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover"
        style="width: 300px; overflow: hidden; border-radius: 1px;">
        <img src="assets/images/education1.svg"
            alt="Man with backpack" class="d-block w-full">

        <div class="px-2 py-2">
           <!-- <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                Industries
            </p>-->

            <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25; text-align: center; text-transform: uppercase;font-weight: 600; font-size:22px;color:#201a27;">
               <b> Education and Public Sector</b>
            </h2><br>

            <p class="mb-1" style="color:#201a27;text-align: justify;">
                Intelligent Automation, MDM, BI and Data Analytics for Universities, Public Sectors for better structuring and growth.
            </p>

        </div>

        <!--<a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
            Read More
        </a>-->



    </div>

</body>

</html>